.dropdown {
  position: absolute;
  top: 5.8rem;
  width: 23rem;
  transform: translateX(-75%);
  background-color: #424242;
  border: 0.1rem solid #474a4d;
  border-radius: 0.8rem;
  overflow: hidden;
  transition: height 0.5s ease;

  &__menu {
    width: 100%;
  }
  &__item {
    color: #fff;
    width: 100%;
    font-size: 1.6rem;
    display: flex;
    position: relative;
    box-sizing: border-box;
    text-align: left;
    align-items: center;
    padding: 0.8rem 1.6rem;
    justify-content: flex-start;
    text-decoration: none;
    overflow: hidden;
    border: 0;
    cursor: pointer;
    margin: 0;
    outline: 0;
    user-select: none;
    border-radius: 0;
    vertical-align: middle;
    background-color: transparent;
    -webkit-tap-highlight-color: transparent;

    &-icon,
    &-iconLeft {
      color: #fff;
      display: inline-flex;
      min-width: 4rem;
      flex-shrink: 0;
    }

    &-label {
      flex: 1 1 auto;
      min-width: 0;
      margin-top: 0.4rem;
      margin-bottom: 0.4rem;
    }

    &:hover {
      text-decoration: none;
      background-color: rgba(255, 255, 255, 0.08);
    }
  }
}
