.header {
  &__appBar {
    width: 100%;
    display: flex;
    z-index: 1100;
    box-sizing: border-box;
    flex-shrink: 0;
    flex-direction: column;

    &-toolbar {
      display: flex;
      position: relative;
      align-items: center;
    }

    &-regular {
      min-height: 6.4rem;
    }
  }
  &__fix {
    top: 0;
    left: auto;
    right: 0;
    position: fixed;
  }
  &__width {
    width: calc(100% - 24rem);
    margin-left: 24rem;
  }
  &__primary {
    color: rgba(0, 0, 0, 0.87);
    background-color: #efefef;
  }

  &__left {
    flex-grow: 1;
  }
  &__right {
    display: flex;
    justify-content: center;
    align-items: center;

    &-search {
      margin-right: 1.6rem;
    }

    &-notification {
      margin: 0 0.8rem;
    }

    &-profile {
    }
  }
}

//global
.divider {
  &__vertical {
    border: none;
    width: 0.1rem;
    flex-shrink: 0;
    background-color: #424242;
    height: 3.2rem;
    margin: 0 0.8rem;
  }
}

.gutter {
  padding-left: 2.4rem;
  padding-right: 2.4rem;
}
