.search {
  &__form {
    width: 25rem;
    display: flex;
    align-items: center;
    color: #fff;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: #424242;

    &:hover {
      filter: brightness(1.2);
    }
  }

  &__icon {
    padding: 0.3rem 0.8rem;
  }
}

.input {
  color: currentColor;
  width: 100%;
  height: 2rem;
  border: 0;
  margin: 0;
  display: block;
  padding: 0.5rem 0;
  min-width: 0;
  background: none;
  box-sizing: content-box;
  animation-name: mui-auto-fill-cancel;
  animation-duration: 10ms;
  -webkit-tap-highlight-color: transparent;

  &__search {
    flex: 1;
    margin-right: 0.8rem;
    color: #fff;
    cursor: text;
    display: inline-flex;
    position: relative;
    font-size: 1.6rem;
    box-sizing: border-box;
    align-items: center;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-weight: 400;
  }
  &:focus {
    outline: 0;
  }
}

// Global SCSS
.elevation {
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 20%),
    0px 1px 1px 0px rgba(0, 0, 0, 14%), 0px 1px 3px 0px rgba(0, 0, 0, 12%);
}

.rounded {
  border-radius: 4px;
}
